/* Custom icons for specific folders or files */

:root {
    --active-file-bg-color: #005C00;
    --active-file-fg-color: #ffffff;
}

/* folder begin */
.nav-folder-title {
    cursor: pointer !important;
}

.nav-file-title-content,
.nav-folder-title-content {
    display: flex !important;
    align-items: center;
}

.nav-folder-title-content::before {
    content: '';
    background: url("https://media.macosicons.com/parse/files/macOSicons/af21153d07a2e92bde7b2ad155055489_low_res_1619092574091.png") no-repeat center;
    /* background: url("https://img.icons8.com/doodle/2x/folder-invoices--v2.png"); */
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

/* root folder */
div[data-path="/"] .nav-folder-title-content::before {
    content: '';
    background: none;
}

/* 所有的附件目录, 我自定义的附件目录为笔记所在目录的名为 attachments 的子目录, 匹配以 attachments 结尾 */
/* All attachment directories, and my custom `attachments` directory is the subdirectory named `attachments` of the note directory and ends with the matching `attachments` */
div[data-path$="Images"] .nav-folder-title-content::before {
    background: url("https://media.macosicons.com/parse/files/macOSicons/325fcaee7fcf0ce428cddec2a53675c1_low_res_Folder___Favourite_Images.png") no-repeat center;
    /* background: url("https://img.icons8.com/doodle/2x/pictures-folder.png"); */
    background-size: 100%;
}

div[data-path="编程"] .nav-folder-title-content::before {
    background: url("https://media.macosicons.com/parse/files/macOSicons/c84880ed4b36bcaf78df9580aa069a43_low_res_Programming_Folder.png") no-repeat center;
    /* background: url("https://img.icons8.com/doodle/2x/cloud-folder.png"); */
    background-size: 100%;
}

div[data-path="编程/工具"] .nav-folder-title-content::before {
    background: url("https://media.macosicons.com/parse/files/macOSicons/9d1f67b889d73ed9813c83199e039354_low_res_Developer_Folder.png") no-repeat center;
    background-size: 100%;
}

/* folder end */

/* file begin */
.nav-file-title {
    cursor: pointer !important;
}

.nav-file-title-content::before {
    content: '';
    /* background: url("https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/512/external-file-interface-kiranshastry-lineal-kiranshastry-1.png") no-repeat center; */
    background: url("https://img.icons8.com/external-yogi-aprelliyanto-detailed-outline-yogi-aprelliyanto/2x/external-file-digital-service-yogi-aprelliyanto-detailed-outline-yogi-aprelliyanto.png") no-repeat center;
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

/* All attachment hidden file icon */
.nav-file-title[data-path*="attachments"] .nav-file-title-content::before {
    content: '';
    background: none !important;
    width: 0px;
    height: 0px;
    display: inline-block;
    margin-right: 0px;
}

body:not(.is-grabbing) .nav-file-title.is-active:hover,
body:not(.is-grabbing) .nav-folder-title.is-active:hover,
.nav-file-title.is-active,
.nav-folder-title.is-active {
    /* background: var(--active-file-bg-color) !important; */
    color: var(--active-file-fg-color) !important;
}

/* file end */